<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if auto %}
    <p>{{auto.marca}} {{auto.modelo}} {{auto.patente}}</p>
    {% endif %} <form action={% url 'crear_auto' %} method="POST">
    {%csrf_token%}

    <table>
      {{formulario.as_table}}
    </table>

      <p>
        <input type="submit" placeholder="Enviar" />
      </p>

    </form>
  </body>
</html>
