<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <form action={% url 'ver_propietario' %} method="GET">
       {%csrf_token%}

      <p>DNI
        <input type='number' name='dni'>
      </p>

        <input type="submit" placeholder="Enviar" />
      </p>

    </form>
    {% if propietario %} {% for propietario in propietarios %}
    <p>{{propietario.nombre}} {{propietario.apellido}} {{propietario.dni}}</p>
    {% endfor %} {% else %}
    <p>No hay propietarios registrados</p>
    {% endif %}
  </body>
</html>
